body {
    background-color: rgb(10, 10, 52);
    margin: 0;
}
  
#Header {
    position: sticky;
    top: 0; /* Sticks to the top of the screen */
    z-index: 1000; /* Keeps it above other elements */
    padding: 15px;
  }
  
  #Header ul {
    list-style-type: none;
    background-color: black;
    display: flex;
    align-items: center; /* Aligns items vertically */
    margin: 0;
    padding: 10px 0;
    height: 50px; /* Increased height for better visual balance */
  }
  
  #Header li a{
    text-decoration: none;
    color: #F6F0ED;
    padding: 16px 30px;
    font-size: 20px;
    /* transition: color 0.4s, font-size 1s; */
  
  }
  
  #Header li a:hover{
    background-color: #efc2d1;
    color:black; 
    
  }
  
  
  #Header .logo img{
    margin-right: auto;
    padding-left: 20px; 
    width: 300px;
    height: auto;
    margin-top: 15px;
  }

  #footer {
    display: block;
    margin-right: auto;
    position: relative;
    bottom: 0;
    background-color: #E9DED1;
    margin-left: auto;
    color: black;
    margin-top: 10%;
    padding: 50px;
    width: 1380px;
    height: 300px;
  }

  #footer a {
    color: black;
  }