body {
    background-color:black;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: ;
}

.intro {
    width: 400px;
    position: relative;
    margin: 0;

}

.carousel {
    position: relative;
    width: 100%;
    height: 700px; /* Set a fixed height for the carousel */
    margin: auto;
    margin-left: 20px;
    overflow: hidden;
    cursor: pointer;
    
}
.carousel img {
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
}
.carousel img.active {
    opacity: 1;
}

.carousel p {
    position: absolute;
    right: 0;
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    max-width: 250px;
}
.carousel p.active {
    opacity: 1;
}

.active_items{
    display: flex;
}